In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [68]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/hotel_review.csv")
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [32]:
df1=df.copy()
df1.loc[(df.Rating < 3), 'Rating'] = 0
df1.loc[(df.Rating == 3), 'Rating'] = 1
df1.loc[(df.Rating==4), 'Rating'] = 2
df1.loc[(df.Rating==5), 'Rating'] = 2
df1

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

In [45]:
df1['Review'].str.lower()
df1

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

In [46]:
df1['Review'].str.replace(' ', '')
df1

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

In [52]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [53]:
df1['Review'] = df1.apply(lambda row: nltk.word_tokenize(row['Review']), axis=1)
df1

                                                  Review  Rating
0      [nice, hotel, expensive, parking, got, good, d...       2
1      [ok, nothing, special, charge, diamond, member...       0
2      [nice, rooms, not, 4*, experience, hotel, mona...       1
3      [unique, ,, great, stay, ,, wonderful, time, h...       2
4      [great, stay, great, stay, ,, went, seahawk, g...       2
...                                                  ...     ...
20486  [best, kept, secret, 3rd, time, staying, charm...       2
20487  [great, location, price, view, hotel, great, q...       2
20488  [ok, just, looks, nice, modern, outside, ,, de...       0
20489  [hotel, theft, ruined, vacation, hotel, opened...       0
20490  [people, talking, ,, ca, n't, believe, excelle...       0

[20491 rows x 2 columns]

In [73]:
df1['Review']=df1['Review'].replace(r'[\W0-9_]'," ")
df1

                                                  Review  Rating
0      [nice, hotel, expensive, parking, got, good, d...       2
1      [ok, nothing, special, charge, diamond, member...       0
2      [nice, rooms, not, 4*, experience, hotel, mona...       1
3      [unique, ,, great, stay, ,, wonderful, time, h...       2
4      [great, stay, great, stay, ,, went, seahawk, g...       2
...                                                  ...     ...
20486  [best, kept, secret, 3rd, time, staying, charm...       2
20487  [great, location, price, view, hotel, great, q...       2
20488  [ok, just, looks, nice, modern, outside, ,, de...       0
20489  [hotel, theft, ruined, vacation, hotel, opened...       0
20490  [people, talking, ,, ca, n't, believe, excelle...       0

[20491 rows x 2 columns]